                            /* PC (desktops, large screens) */
@media (min-width: 1025px) {
.logo {
max-width: 41%;
}
.slid{
    position: relative;
    margin-top: -46px !important;
}
}
                            /* Tablet (portrait and landscape) */
@media (min-width: 768px) and (max-width: 1024px) {
.logo {
max-width: 60%;
}
.sub-h {
font-size: 36px;
}
.asked {
height: 530px;
}.f-title {
font-size: 48px;
}
.hero-img{
    max-width: 382px;
}
.hero-banner-2 {
    background-color: #f1f3ea;
    height: 779px;
}
.default-text{
font-size: 14px!important;
}
.get-btn-get{
            padding: 7px 10px;
}
.img-circle{
    width: 45px;
    height: 45px;
}
.margin{
    margin-left: -20px;
}
.slid{
    position: relative;
    margin-top: -40px !important;
}
.choose{
    background-image: url(../img/choose.jpg);
    height: 810px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.service-img{
    background-image: url(../img/service.jpg);
    height: 440px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.plus{    
    width: 45px;
    height: 45px;
    background: #ff8a65;
    font-size: 28px;
    border-radius: 50% !important;
    color: white;
    margin-left: -20px !important;
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;
    margin-left: -26px;
}
.about-img{
    background-image: url(../img/about.jpg);
    height: 316px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
}
.timeline {
    position: absolute;
    top: 190px;
    left: 125px;
    width: 2px;
    height: 500px;
    border-left: 1px dashed #28a745;
    z-index: 1;
}
}
                            /* Mobile (phones) */
@media (max-width: 767px) {
.section {
padding-top: 50px;
padding-bottom: 50px;
}
.logo {
max-width: 65%;
}   
.f-title {
font-size: 48px!important;
}
.rounded-sm-5{
border-radius: 2rem!important;
}
.bg-img{
background-image: none!important;
}
.sub-h{
font-size: 32px !important;
}
.plus{
    width: 60px;
    height: 60px;
    background: #ff8a65;
    font-size: 28px;
    border-radius: 50% !important;
    color: white;
    margin-left: 0px !important;
 }
.margin{
    margin-left: 0px;
}
.timeline{
    display: none;
}
.hero-banner-2 {
    background-color: #f1f3ea;
    height: 1070px;
}
}